/* ================================
            Fonts
================================= */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Work+Sans:wght@200;300;400;500&display=swap');

/* 

font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif;

*/

/* ================================
            Colors
================================= */

/* 

#2e2e2e
#fff
#000
#1d2c2f

*/

/* ================================
            General
================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* ================================
            Header
================================= */

#headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headline div:first-of-type {
    font-family: 'Lora', serif;
    width: 100%;
    text-align: center;
}

#headline > div:first-of-type h1 {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 7rem;
}

#headline div p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #2e2e2e;
}

/* ================================
            Header/ NAV
================================= */


header >  nav {
    background: #2e2e2e;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    margin-top: -5px;
}

header > nav > img {
    width: 6%;
    margin: 0 0 0 10px;
}

header nav ul {
    text-align: right;
    margin-right: 5%;
}

header > nav > ul > li {
    list-style: none;
    display: inline;
}

header > nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    margin: 0 60px;
    font-weight: 300;
}

/* ================================
        Main/Our-Story
================================= */

#our-story {
    display: flex;
    background: #2e2e2e;;
    padding: 20vh 0;
    flex-wrap: wrap;
}

#our-story div:last-of-type {
    color: white;
    text-align: center;
}

/* ================================
        Main/featured
================================= */

#featured {
    padding-top: 30vh;
    margin-bottom: 10vh;
}

#featured > h2 {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 5rem;
    padding-bottom: 3vh;
    font-weight: 400;
}

#featured > p {
    margin-bottom: 5vh;
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Lora', serif;
    padding: 0 28%;
    line-height: 30px;
    color: #2e2e2e;
}

#featured > div{
    text-align: center;
}

#featured > div > img {
    width: 25%;
    margin: 0 30px;
}


/* ================================
        Main/touch
================================= */

#touch {
    display: flex;
}

/* ================================
            Footer
================================= */

footer {
    background: #1d2c2f;
}

footer nav {
    display: flex;
}